:root {
  --input-width: 355px;
  --input-height: 33px;
  --main-width: 592px;
  --color-primary: #d9d9d9;
  --color-secondary: #aca0eb;
  --line-height: 21.15px;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f4f5f7;
  text-align: center;
}

/* header */
header {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid black;
}
#header-flex {
  display: flex;
  height: 104px;
  justify-content: space-around;
  width: 592px;
  align-items: center;
}

#header-text {
  font-size: 32px;
}

/* header - board */
#header-profile {
  width: 36px;
  height: 36px;
  border-radius: 100%;
  background-color: gray;
}

#back-icon {
  font-size: 32px;
}
#back-icon > a {
  text-decoration: none;
  color: black;
}

.line {
  width: 100%;
  border-top: 1px solid #00000029;
}
