<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta property="og:title" content="Update" />
        <meta property="og:description" content="게시물을 수정 하는 페이지" />

        <meta
            name="viewport"
            content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
        />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>community</title>
        <link
            rel="preload"
            href="https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff"
            as="font"
            type="font/woff"
            crossorigin="anonymous"
        />
        <link rel="stylesheet" href="http://localhost:3000/styles/board-update.css" />
        <link rel="stylesheet" href="http://localhost:3000/styles/index.css" />
    </head>
    <body>
        <header>
            <div id="header-flex">
                <div id="back-icon"><</div>
                <div id="header-text">아무 말 대잔치</div>
                <div class="dropdown">
                    <img
                        src="http://localhost:3000/img/avatar.jpg"
                        alt="user-avatar"
                        id="profile-btn"
                        class="header-profile drop-btn"
                    />
                    <nav id="user-nav" class="dropdown-content">
                        <a href="http://localhost:3000/user/update"> 회원정보 수정 </a>
                        <a href="http://localhost:3000/user/password"> 비밀번호 수정 </a>
                        <a href="http://localhost:3000/login"> 로그아웃 </a>
                    </nav>
                </div>
            </div>
        </header>
        <section>
            <div id="update">
                <div id="page-title">게시글 수정</div>
                <form>
                    <label for="title"
                        ><div class="label-text">제목*</div>
                        <div class="line"></div>
                        <input id="title" type="text" maxlength="26" placeholder="제목을 입력해주세요. (최대 26글자)" />
                        <div class="line"></div>
                    </label>
                    <label for="content"
                        ><div class="label-text">내용*</div>
                        <div class="line"></div>
                        <textarea id="content" type="text"></textarea>
                        <div class="line"></div>
                    </label>
                    <div id="update-helper" class="helper-text"></div>
                    <label for="img" id="img-text" class="label-text">이미지</label>
                    <div id="img-label-wrap">
                        <label for="img" id="img-label"> 파일 선택 </label>
                        <div id="exist-image">기존 파일 명</div>
                    </div>
                    <div class="image-box">
                        <img id="preview" />
                    </div>

                    <input id="img" type="file" accept="image/*" />
                    <div id="btn-wrap">
                        <button id="update-btn" type="submit">수정하기</button>
                    </div>
                </form>
            </div>
        </section>
        <script src="http://localhost:3000/script/utils.js"></script>
        <script src="http://localhost:3000/script/board-update.js"></script>
    </body>
</html>
