<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta property="og:title" content="Login" />
        <meta property="og:description" content="로그인 페이지" />
        <meta
            name="viewport"
            content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
        />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>login</title>
        <link
            rel="preload"
            href="https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff"
            as="font"
            type="font/woff"
            crossorigin="anonymous"
        />
        <link rel="stylesheet" href="http://localhost:3000/styles/login.css" />
        <link rel="stylesheet" href="http://localhost:3000/styles/index.css" />
    </head>
    <body>
        <header>
            <div id="header-flex">
                <div id="header-text">아무 말 대잔치</div>
            </div>
        </header>
        <section>
            <div id="login-text">로그인</div>
            <div id="login-box">
                <form>
                    <label for="email" class="login-label"
                        ><div>이메일</div>
                        <input type="text" id="email" name="email" placeholder="이메일을 입력하세요" />
                    </label>
                    <div class="helper-text" id="email-helper"></div>
                    <label for="password" class="login-label"
                        ><div>비밀번호</div>
                        <input type="password" id="password" name="password" placeholder="비밀번호를 입력하세요" />
                    </label>

                    <div class="helper-text" id="password-helper"></div>
                    <button id="login-btn" type="button">로그인</button>
                </form>
            </div>
            <div id="register-text">
                <a href="http://localhost:3000/register">회원가입</a>
            </div>
        </section>
        <script type="text/javascript" src="http://localhost:3000/script/utils.js"></script>
        <script type="text/javascript" src="http://localhost:3000/script/validation.js"></script>
        <script type="text/javascript" src="http://localhost:3000/script/login.js"></script>
    </body>
</html>
