<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta property="og:title" content="Password-Update" />
        <meta property="og:description" content="비밀번호 변경 페이지" />
        <meta
            name="viewport"
            content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
        />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>password update</title>
        <link
            rel="preload"
            href="https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff"
            as="font"
            type="font/woff"
            crossorigin="anonymous"
        />
        <link rel="stylesheet" href="http://localhost:3000/styles/login.css" />
        <link rel="stylesheet" href="http://localhost:3000/styles/index.css" />
    </head>
    <body>
        <header>
            <div id="header-flex">
                <div class="header-profile none"></div>
                <div id="header-text">아무 말 대잔치</div>
                <div class="dropdown">
                    <img
                        src="http://localhost:3000/img/avatar.jpg"
                        alt="user-avatar"
                        id="profile-btn"
                        class="header-profile drop-btn"
                    />
                    <nav id="user-nav" class="dropdown-content">
                        <a href="http://localhost:3000/user/update"> 회원정보 수정 </a>
                        <a href="http://localhost:3000/user/password"> 비밀번호 수정 </a>
                        <a href="http://localhost:3000/login"> 로그아웃 </a>
                    </nav>
                </div>
            </div>
        </header>
        <section>
            <div id="login-text">비밀번호 수정</div>
            <div id="login-box">
                <form>
                    <label for="password" class="login-label"
                        ><div>비밀번호</div>
                        <input type="password" id="password" name="password" placeholder="비밀번호를 입력하세요" />
                    </label>
                    <div id="password-helper" class="helper-text">*비밀번호를 입력해주세요.</div>
                    <label for="password-check" class="login-label"
                        ><div>비밀번호 확인</div>
                        <input
                            type="password"
                            id="password-check"
                            name="password-check"
                            placeholder="비밀번호를 한번 더 입력하세요"
                        />
                    </label>
                    <div id="password-helper2" class="helper-text">*비밀번호를 한번 더 입력해주세요.</div>
                    <button id="update-password-btn" type="submit">
                        <a href="http://localhost:3000/board">수정하기</a>
                    </button>
                </form>
            </div>
        </section>
        <script type="text/javascript" src="http://localhost:3000/script/utils.js"></script>
        <script type="text/javascript" src="http://localhost:3000/script/password-update.js"></script>
    </body>
</html>
