<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta property="og:title" content="Post List" />
        <meta property="og:description" content="게시물 목록 페이지" />
        <meta
            name="viewport"
            content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
        />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>community</title>
        <link
            rel="preload"
            href="https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff"
            as="font"
            type="font/woff"
            crossorigin="anonymous"
        />
        <link rel="stylesheet" href="http://localhost:3000/styles/post.css" />
        <link rel="stylesheet" href="http://localhost:3000/styles/index.css" />
    </head>
    <body>
        <header>
            <div id="header-flex">
                <div class="header-profile none"></div>
                <div id="header-text">아무 말 대잔치</div>
                <div class="dropdown">
                    <img
                        src="http://localhost:3000/img/avatar.jpg"
                        alt="user-avatar"
                        id="profile-btn"
                        class="header-profile drop-btn"
                    />
                    <nav id="user-nav" class="dropdown-content">
                        <a href="http://localhost:3000/user/update"> 회원정보 수정 </a>
                        <a href="http://localhost:3000/user/password"> 비밀번호 수정 </a>
                        <a href="http://localhost:3000/login"> 로그아웃 </a>
                    </nav>
                </div>
            </div>
        </header>

        <section>
            <div id="post-wrapper">
                <div id="post-info">
                    <div class="post-info-text">안녕하세요,</div>
                    <div class="post-info-text">아무 말 대잔치 <strong>게시판</strong> 입니다.</div>
                </div>
                <div id="btn-wrapper">
                    <a href="http://localhost:3000/post/create"><button id="go-upload">게시물 작성</button></a>
                </div>
                <div class="post-list">
                    <!-- js로 더미 데이터 받아서 동적 생성 -->
                    <!-- <a href="http://localhost:3000/post/1" class="post">
                        <div class="post-title">제목 1</div>
                        <div class="post-mid">
                            <div class="post-mid-l">
                                <div class="count-like">좋아요 0</div>
                                <div class="count-comment">댓글 0</div>
                                <div class="count-view">조회수 0</div>
                            </div>
                            <div class="created-at">2021-01-01 00:00:00</div>
                        </div>
                        <div class="line"></div>
                        <div class="post-creator">
                            <div class="avatar"></div>
                            <div class="creator">더미 작성자 1</div>
                        </div>
                    </a> -->
                </div>
                <div id="loading">
                    <div class="spinner"></div>
                </div>
                <div id="toast-message"></div>
            </div>
        </section>
        <script src="http://localhost:3000/script/utils.js"></script>
        <script src="http://localhost:3000/script/post.js"></script>
    </body>
</html>
