<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta property="og:title" content="Upload" />
        <meta property="og:description" content="게시물을 업로드 하는 페이지" />

        <meta
            name="viewport"
            content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
        />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>community</title>
        <link
            rel="preload"
            href="https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff"
            as="font"
            type="font/woff"
            crossorigin="anonymous"
        />
        <link rel="stylesheet" href="http://localhost:3000/styles/post-upload.css" />
        <link rel="stylesheet" href="http://localhost:3000/styles/index.css" />
    </head>
    <body>
        <header>
            <div id="header-flex">
                <div id="back-icon"><a href="http://localhost:3000/post"><</a></div>
                <div id="header-text">Dev Word</div>
                <div class="dropdown">
                    <img alt="user-avatar" id="profile-btn" class="header-profile drop-btn" />
                    <nav id="user-nav" class="dropdown-content">
                        <a href="http://localhost:3000/user/update"> 회원정보 수정 </a>
                        <a href="http://localhost:3000/user/password"> 비밀번호 수정 </a>
                        <a id="logout-btn"> 로그아웃 </a>
                    </nav>
                </div>
            </div>
        </header>
        <section>
            <div id="upload">
                <div id="page-title">게시글 작성</div>
                <form id="upload-form">
                    <label for="title"
                        ><div class="label-text">제목*</div>
                        <div class="line"></div>
                        <input
                            id="title"
                            name="title"
                            type="text"
                            maxlength="26"
                            placeholder="제목을 입력해주세요. (최대 26글자)"
                        />
                        <div class="line"></div>
                    </label>
                    <label for="content"
                        ><div class="label-text">내용*</div>
                        <div class="line"></div>
                        <textarea id="content" name="content" type="text" placeholder="내용을 입력해주세요."></textarea>
                        <div class="line"></div>
                    </label>
                    <div id="upload-helper" class="helper-text"></div>
                    <label for="img" id="img-text" class="label-text">이미지</label>
                    <div id="img-label-wrap">
                        <label for="img" id="img-label"> 파일 선택 </label>
                        <div id="file-name">파일을 선택해주세요.</div>
                    </div>

                    <input id="img" name="post_image" type="file" accept="image/*" />
                    <div class="image-box">
                        <img id="preview" />
                    </div>
                    <div id="btn-wrap">
                        <button id="upload-btn" type="submit">완료</button>
                    </div>
                </form>
            </div>
        </section>

        <script src="http://localhost:3000/script/utils.js"></script>
        <script src="http://localhost:3000/script/request.js"></script>
        <script src="http://localhost:3000/script/post-upload.js"></script>
    </body>
</html>
