/* section */

section {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
}

#update {
    width: var(--main-width);
    margin-top: 32px;
}

form {
    margin-top: 60px;
    text-align: left;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
}

#page-title {
    font-size: 24px;
    font-weight: 700;
}

input {
    border: none;
    background-color: #f4f5f7;
    width: 100%;
}

#title {
    height: 64px;
    font-size: 16px;
    font-weight: 700;
    margin-left: 7px;
}

#content {
    font-size: 15px;
    line-height: var(---line-height);
    margin: 20px 10px;
    width: 100%;
    height: 231px;
    border: none;
    background-color: #f4f5f7;
    resize: none;
}

.label-text {
    font-size: 16px;
    font-weight: 700;
    margin: 20px 10px;
}

.helper-text {
    text-align: left;
    color: red;
    font-size: 12px;
    margin-left: 10px;
}
#img-text {
    margin: 5px 10px;
}
#img {
    display: none;
}

#btn-wrap {
    text-align: center;
}

#btn-wrap button {
    color: white;
    background-color: var(--color-secondary);
    border: 1px solid var(--color-secondary);
    width: 355px;
    height: 33px;
    border-radius: 4px;
}

#img-label-wrap {
    display: flex;
    align-items: center;
    margin-left: 10px;
    margin-bottom: 30px;
    gap: 16px;
    font-size: 15px;
}
#img-label {
    border: 1px solid black;
    border-radius: 4px;
    padding: 2px;
    background-color: var(--color-primary);
}

.image-box #preview {
    width: var(--main-width);
}
