/* section */

section {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
}

#post {
    width: var(--main-width);
    text-align: left;
}

/* 제목 */
#post-title {
    margin: 20px 0;
    font-size: 24px;
    font-weight: 700;
}

/* 게시물 상단 */
#post-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.post-header-item {
    display: flex;
    align-items: center;
    gap: 8px;
}

.avatar {
    width: 36px;
    height: 36px;
    background-color: var(--color-primary);
    border-radius: 100%;
}

.creator {
    font-size: 15px;
    font-weight: 700;
    margin-left: 10px;
}

.date {
    font-size: 14px;
    margin-left: 20px;
}

.post-header-item button,
.comment-item button {
    font-size: 15px;
    border: 1px solid var(--color-secondary);
    background-color: var(--color-secondary);
    border-radius: 8px;
    padding: 2px 8px;
    color: white;
}
.post-header-item button:hover,
.comment-item button:hover {
    background-color: var(--color-active);
}

/* 본문 */
#content {
    margin: 24px;
}

#post-image {
    width: calc(var(--main-width) - 48px);
    height: 306px;
    background-color: var(--color-primary);
}

#post-content {
    margin: 20px 0;
    font-size: 15px;
    line-height: 21.15px;
}

#view-co-btn {
    margin: 30px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}
#view-co-btn > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--color-primary);
    border-radius: 16px;
    font-size: 16px;
    font-weight: 700;
    width: 116px;
    height: 77px;
}

.num {
    font-size: 20px;
}

form {
    margin: 20px 0;
    height: 169px;
    background-color: white;
    border-radius: 16px;
}

#comment {
    font-size: 15px;
    line-height: var(---line-height);
    margin: 20px 10px;
    width: 550px;
    margin: 20px;
    height: 66px;
    border: none;
    resize: none;
}

#btn-wrapper {
    text-align: end;
    width: 100%;
}
#comment-btn {
    color: white;
    background-color: var(--color-secondary);
    border: none;
    width: 138px;
    height: 39px;
    border-radius: 16px;
    margin: 8px 8px 0 0;
}

#comment-wrap {
    margin-top: 24px;
}

.comments {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px;
}

.comment-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
}

.comment-content {
    margin-left: 54px;
    font-size: 15px;
}

/* 모달 */
#overlay1,
#overlay2 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}
#del-modal,
#del-comment-modal {
    position: fixed;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.del-modal-body {
    display: flex;
    flex-direction: column;
    gap: 40px;
    position: fixed;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    width: 408px;
    height: 242px;

    padding: 40px;
    color: black;

    text-align: center;

    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
}
.del-modal-body2 {
    display: flex;
    flex-direction: column;
    gap: 40px;
    position: fixed;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -190%);
    width: 408px;
    height: 242px;
    padding: 40px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    color: black;
    border-radius: 10px;
    box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
}

#del-modal-body2 {
    top: 100%;
}

.modal-title {
    margin-top: 30px;
    font-size: 24px;
    font-weight: 700;
}

.modal-message {
    font-size: 20px;
}

.modal-sel-btn {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.modal-sel-btn button {
    font-size: 20px;
    width: 127px;
    height: 44px;
    border-radius: 12px;
}

button.btn-cancel {
    background-color: #242424;
    border: #242424;
    color: white;
}
button.btn-ok {
    background-color: var(--color-secondary);
    border: var(--color-secondary);
}
